<div class="calcBody">
	<div class="row">
		<a href="#" class="btn btn-danger" data-method="reset" ng-click="reset()">CE</a>
		<a href="#" class="btn btn-success" data-method="reset" ng-click="clear()">C</a>
		<input id="calculator-result" class="calcResultBox" ng-model=inMemory>
	</div>
	<div class="row">
		<a href="#" class="btn btn-primary" value="7" ng-click='addToMemory(7)'>7</a>
		<a href="#" class="btn btn-primary" value="8" ng-click='addToMemory(8)'>8</a>
		<a href="#" class="btn btn-primary" value="9" ng-click='addToMemory(9)'>9</a>
		<a href="#" class="btn btn-primary" ng-click="multiplication('+')">x</a>
	</div>
	<div class="row">

		<a href="#" class="btn btn-primary" value="4" ng-click='addToMemory(4)'>4</a>
		<a href="#" class="btn btn-primary" value="5" ng-click='addToMemory(5)'>5</a>
		<a href="#" class="btn btn-primary" value="6" ng-click='addToMemory(6)'>6</a>
		<a href="#" class="btn btn-primary" ng-click="subtraction('+')">-</a>
	</div>
	<div class="row">
		<a href="#" class="btn btn-primary" value="1" ng-click='addToMemory(1)'>1</a>
		<a href="#" class="btn btn-primary" value="2" ng-click='addToMemory(2)'>2</a>
		<a href="#" class="btn btn-primary" value="3" ng-click='addToMemory(3)'>3</a>
		<a href="#" class="btn btn-primary" ng-click="addition('+')">+</a>
	</div>
	<div class="row">
		<a href="#" class="btn btn-primary" value="0" ng-click='addToMemory(0)'>0</a>
		<a href="#" class="btn btn-primary">.</a>
		<a href="#" class="btn btn-primary" ng-click="division('/')">/</a>
		<a href="#" class="btn btn-danger" ng-click="calculate()">=</a>
	</div>
</div>
