
	<div class="calcBody">
			<div class="row">
				<a href="#" class="btn btn-danger" data-method="reset">CE</a>
				<a href="#" class="btn btn-success" data-method="reset">C</a>
				<input id="calculator-result" class="calcResultBox" ng-model="result">
			</div>
		<div class="row">
				<a href="#" class="btn btn-primary" value="7" ng-click='updateOutput(7)'>7</a>
				<a href="#" class="btn btn-primary">8</a>
				<a href="#" class="btn btn-primary">9</a>
				<a href="#" class="btn btn-primary"  ng-click="multiply('+')">x</a>
		</div>
		<div class="row">

				<a href="#" class="btn btn-primary">4</a>
				<a href="#" class="btn btn-primary">5</a>
				<a href="#" class="btn btn-primary">6</a>
				<a href="#" class="btn btn-primary"  ng-click="subtract('+')">-</a>
		</div>
		<div class="row">
				<a href="#" class="btn btn-primary">1</a>
				<a href="#" class="btn btn-primary">2</a>
				<a href="#" class="btn btn-primary">3</a>
				<a href="#" class="btn btn-primary" ng-click="add('+')">+</a>
		</div>
		<div class="row">
				<a href="#" class="btn btn-primary">0</a>
				<a href="#" class="btn btn-primary">.</a>
				<a href="#" class="btn btn-primary">%</a>
				<a href="#" class="btn btn-danger" ng-click="calculate()">=</a>
		</div>
	</div>
